@import url(../../Bootcamp_Neoland/_css/reset.css);


html {
    scroll-behavior: smooth;
}

header{
    background-color: #eee;
    height: 6em;
}

header form {
      padding-top: 2em;
}

header form #guardar{
    padding-right: 2em;
}

nav {
    background-color: rgb(66, 65, 65);
    height: 5em;
}

.div-nav {
    padding-top: 1em;
}

footer {
   background-color: black;
}

.footer-class{
    position: fixed;
    bottom: 0;
}

footer p {
    color:whitesmoke;  
    padding: 1em;
} 

.main-tareas div{
    border-bottom: 1px #eee solid;
    border-radius: 1px ;
    
}

.main-tareas p{
    padding: 0.7em;
  
}

.main-tareas button {
    padding: 0.7em;
    
}
