@import url(../../Bootcamp_Neoland/_css/reset.css);

/* Meter ROOT */


.form-select-div {
    width: 12em;
}

header div {
    display: flex;
   background-color: lightblue;
   margin-top: 1em;
}

.div-nav {
    display: flex;
    margin-top: 1em;
    background-color: black;
}